[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pyserial = "*"
pynmea2 = "*"
dlib = "*"
numpy = "*"
imutils = "*"
opencv-python = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
